{% extends "layout.html" %}

{% block title %}
    Edit User
{% endblock title%}

{% block main %}

<h2>Edit User</h2>

{% with messages = get_flashed_messages() %}
<p style="font-weight: bold;">{{ messages[0] }}</p>
{% endwith %}

<form action="/edit_user" method="post">
     
    <input type="hidden" name="id" value="{{ id }}">
   
    <p>       
        <label>Name:</label>
        <input type="text" name="name" value="{{ user_prefilled[1] }}"></input> 
    </p>
    <p>   
        <label>Email:</label>
        <input name="email" type="text" value="{{ user_prefilled[2] }}"></input>
    </p>
   
    <p>
        <label>Password</label> <br>
        <input name="password" type="password"></input>
    </p>
    <p>
        <label>Confirm password</label> <br>
        <input name="confirm_password" type="password"></input>
    </p>
    
    <button type="submit"> Update User </button>
    
</form>

{% endblock main %}