{% extends "layout.html" %}

{% block title %}
    Edit Pet
{% endblock title%}

{% block main %}
<h2>Edit Pet</h2>
<form action="/edit_pet" method="post">

    <input type="hidden" name="id" value="{{ id }}">
    {% for item in item_prefilled %}  
    <p>
        <label>Image URL</label> <br>
        <textarea name="image_url" type="text" row="4" cols="50" type="text">{{ item.image_url }}</textarea>
    </p>
    <p>
        <label>Name:</label>
        <input name="name" type="text" value="{{ item.name }}"></input>
    </p>
    <p>
        <label for="type" class="sort">Type:</label>
        <select name="type">
        <option value="{{ item.type }}">Select an option</option>
        <option value="dog">Dog</option>
        <option value="cat">Cat</option>
        </select>
    </p>
    <p>
        <label>Breed:</label>
        <input name="breed" type="text" value="{{ item.breed }}"></input>
    </p>
    <p>
        <label>Sex:</label>
        <input name="sex" type="text" value="{{ item.sex }}"></input>
    </p>
    <p>
        <label>size:</label>
        <input name="size" type="text" value="{{ item.size }}"></input>
    </p>
    <p>
        <label>Colour:</label>
        <input name="colour" type="text" value="{{ item.colour }}"></input>
    </p>
    <p>
        <label>Age:</label>
        <input name="age" type="text" value="{{ item.age }}"></input>
    </p>
    {% endfor %}
    <button type="submit"> Update Pet</button>
</form>

{% endblock main %}