{% extends "layout.html" %}

{% block title %}
    Pet list
{% endblock title%}

{% block main %}

<p>
<h2>Our Mates
{% if session.get('user_name') %}
<button><a href="/create">Add new pet</a></button>       
{% endif %} 
</h2>

<!-- <p>Sort by: <button><a href="/?price=desc">most expensive item</a></button>
<button><a href="/?price=asc">cheapest item</a></button></p>
</p> -->

<!-- <p>
    <form method="get">
    <label for="sort_by" class="sort">Sort by:</label>
      <select name="price" onchange="this.form.submit()">
        <option value="">Select an option</option>
        <option value="desc" {% if price == 'desc' %}selected{% endif %}>Most expensive item</option>
        <option value="asc" {% if price == 'asc' %}selected{% endif %}>Cheapest item</option>
        <option value="name" {% if price == 'name' %}selected{% endif %}>Item name</option>
      </select>
    </form>
</p> -->

<table>
    <thred>
        {% if session.get('user_name') %}
        <th>
            Update
        </th>
        {% endif %}
        <th width="100">
            Image
        </th>
        <th>
            Name
        </th>
        <th>
            Type
        </th>
        <th>
            Breed
        </th>
        <th>
            Sex
        </th>
        <th>
            Size
        </th>
        <th>
            Colour
        </th>
        <th>
            Age
        </th>
    </thred>

    <tbody>
        {% for item in pet_list %}
            <tr>
                {% if session.get('user_name') %}
                <td>
                    <button> <a href="/edit_pet?id={{ item.id }}"> Edit </a> </button> </br></br>
                    <button> <a href="/delete_pet?id={{ item.id }}"> Del </a> </button>
                </td>
                {% endif %}
                <td>
                    <img style="height: 180px" src="{{ item.image_url }}" alt={{item.name}}>
                </td>
                <td>{{ item.name }}</td>
                <td>{{ item.type }}</td>
                <td>{{ item.breed }}</td>
                <td>{{ item.sex }}</td>
                <td>{{ item.size }}</td>
                <td>{{ item.colour }}</td>
                <td>{{ item.age }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock main %}