{% extends "layout.html" %}

{% block title %}
    Pet list
{% endblock title%}

{% block main %}

<p>
<h2>Our Mates
{% if session.get('user_name') %}
<button><a href="/create">Add new pet</a></button>       
{% endif %} 
</h2>

<div class = "gallery">
    {% for item in pet_list %}
        <a href="/pet_details?id={{ item.id }}">
            <img src="{{ item.image_url }}" alt={{item.name}} data-text="{{ item.name }}" >
            <p class="tag">{{ item.name }}</p>
        </a>
    {% endfor %}
</div>

{% endblock main %}