{% extends "layout.html" %}

{% block title %}
    Pet Details
{% endblock title%}

{% block main %}

{% for item in pet_details %} 
<h2>{{ item.name }}
{% if session.get('user_name') and session.get('user_status') %}
    <button><a href="/edit_pet?id={{ item.id }}">Edit</a></button>
    <button><a href="/delete_pet?id={{ item.id }}">Delete</a></button>    
{% endif %}
</h2>

<div class="details">

    <img style="height: 300px" src="{{ item.image_url }}" alt="{{ item.name }}">

    <table class="table">
        <tbody>
            <tr>
                <th scope="row">Name</th>
                <td style="width: 400px">{{ item.name }}</td>
            </tr>
            <tr>
                <th scope="row">Type</th>
                <td>{{ item.type }}</td>
            </tr>
            <tr>
                <th scope="row">Breed</th>
                <td>{{ item.breed }}</td>
            </tr>
                <tr>
                <th scope="row">Sex</th>
                <td>{{ item.sex }}</td>
            </tr>
            <tr>
                <th scope="row">Size</th>
                <td>{{ item.size }}</td>
            </tr>
            <tr>
                <th scope="row">Colour</th>
                <td>{{ item.colour }}</td>
            </tr>
            <tr>
                <th scope="row">Age</th>
                <td>{{ item.age }}</td>
            </tr>
        </tbody>
    </table>
</div> 

<div class="social-media">
    Share:
    <a href="https://www.facebook.com/sharer/sharer.php?u=http://127.0.0.1:5000/pet_details?id={{ item.id }}" target="_blank">
        <img src="https://cdn2.iconfinder.com/data/icons/social-media-2285/512/1_Facebook2_colored_svg-1024.png" alt="facebook">
    </a>

    <a href="https://twitter.com/intent/tweet?url=http://127.0.0.1:5000/pet_details?id={{ item.id }}" target="_blank">
        <img src="https://cdn2.iconfinder.com/data/icons/social-media-2285/512/1_Twitter_colored_svg-1024.png" alt="twitter">
    </a>

    <a href="https://api.whatsapp.com/send?text=http://127.0.0.1:5000/pet_details?id={{ item.id }}" target="_blank">
        <img src="https://cdn2.iconfinder.com/data/icons/social-media-2285/512/1_Whatsapp2_colored_svg-1024.png" alt="whatsapp">
    </a>
</div>


{% if session.get('user_name') and not item.adopted %}
    <h2><button style="font-size:large"><a href="/adopt?id={{ item.id }}&user={{ user_id }}">Adopt {{ item.name }}</a></button></h2> 

{% elif session.get('user_name') and item.adopted %}
    <div class="adopted_msg">
    Unfortunately, {{ item.name }} is currently in the process of being adopted. </br>
    Take a look and find another furry friend who may be a perfect fit for you and your family.
    </div>
{% endif %}
    



{% endfor %}

{% endblock main %}